/* Cine-Stream Page-Level Styles & Custom Responsive Spacings */
@keyframes slowPanZoom {
  0% {
    transform: scale(1.03) translate(0px, 0px);
  }
  50% {
    transform: scale(1.10) translate(-6px, -3px);
  }
  100% {
    transform: scale(1.03) translate(0px, 0px);
  }
}

.cinematic-pan {
  animation: slowPanZoom 24s ease-in-out infinite;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
